
<LINK type="text/css" href="/assets/widgets/audio_player/css/style.css" rel="stylesheet"/>

<div class="row"> 
    <div class="column left" style="background-color: aliceblue;">

        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 40 40" id='buttonsvg' class="playbutton">      
            <g fill="currentColor" id='play_container'>
              <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="5" y="5" width="30" height="30" stroke="red" stroke-width="2"></rect>
                <!--<circle cx="20" cy="20" r="15" stroke="red" stroke-width="2"></circle>-->
                <path d="M16 14L27.25 20L16 26L16 14Z" fill="currentColor"></path>
              </svg>
            </g>
          
            <g fill="red" id='pause_container' class='hidden'>
              <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="5" y="5" width="30" height="30" stroke="red" stroke-width="2"></rect>
                <rect x="15" y="14" width="3" height="12" fill="red"></rect>
                <rect x="22" y="14" width="3" height="12" fill="red"></rect>
              </svg>
            </g>
        </svg>

    </div>
    <div class="column right" style="background-color: bisque;">
        <span id="counter" class="timeline counter"></span>
        <div id="waveform" class="waveform" style="background-color: blueviolet";></div>
        <span id="duration" class="timeline duration"></span>
    </div>
</div>
source is: {{include.asource}}


<script>
    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        /*waveColor: '#828282',
        progressColor: '#333333',
        */
        waveColor: 'red',
        progressColor: 'blue',
        // cursorColor: 'transparent',
        cursorWidth: 0 ,
        barWidth: 1,
        barHeight: 1, // the height of the wave
        barGap: null,
        height:200,
    });

    var formatTime = function (time) {
        return [
            Math.floor((time % 3600) / 60), // minutes
            ('00' + Math.floor(time % 60)).slice(-2) // seconds
        ].join(':');
    };

    // Show current time
    wavesurfer.on('audioprocess', function () {
        document.getElementById("counter").innerText = formatTime(wavesurfer.getCurrentTime());
    });

    // Show clip duration
    wavesurfer.on('ready', function () {
        document.getElementById("duration").innerText = formatTime(wavesurfer.getDuration());
    });

    function toggle_svg(svg){
        if (svg.style.display == "none"){
            svg.style.display = "block";
        }
        else svg.style.display = "none";
    }

    wavesurfer.load("{{include.asource}}");

    // https://jsfiddle.net/cx9zwkrh/
    let button = document.querySelector('#buttonsvg');
    let play = document.querySelector('#play_container');
    let pause =  document.querySelector('#pause_container');
    button.addEventListener('click', function() {
        console.log("clicked")
        play.classList.toggle("hidden");
        pause.classList.toggle("hidden");
        wavesurfer.playPause();
        return false;
    });


</script>
