
<LINK type="text/css" href="/assets/widgets/audio_player/css/style.css" rel="stylesheet"/>


<div class="center-in-parent">
<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 40 40" id='buttonsvg' class="playbutton">      
    <g id='play_container'>
      <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect class="play" x="10" y="10" width="20" height="20" stroke-width="2"></rect>
        <!--<circle cx="20" cy="20" r="15" stroke="red" stroke-width="2"></circle>-->
        <path class="play" d="M16 14L27.25 20L16 26L16 14Z" c"></path>
      </svg>
    </g>
    <g id='pause_container' class='hidden'>
      <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect class="pause-stroke" x="10" y="10" width="20" height="20" stroke-width="2"></rect>
        <rect class="pause-fill" x="15" y="14" width="3" height="12"></rect>
        <rect class="pause-fill" x="22" y="14" width="3" height="12"></rect>
      </svg>
    </g>
</svg>
<div style="padding-left: 1vw;"> Excert from Mahler 10 </div>
</div>


<div class="in-parent justify-center align-center">
    <span id="counter" class="timeline counter"></span>
    <div id="waveform" class="waveform"></div>
    <span id="duration" class="timeline duration"></span>
</div>
    
source is: {{include.asource}}


<script>
    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        /*waveColor: '#828282',
        progressColor: '#333333',
        bisque
        */
        waveColor: 'red',
        progressColor: 'blue',
        // cursorColor: 'transparent',
        cursorWidth: 0 ,
        barWidth: 2,
        barHeight: 2, // the height of the wave
        barGap: null,
        height:100,
        fillParent: true,
        scrollParent: false,
        hideScrollbar: true,
        responsive: true
    });

    var formatTime = function (time) {
        return [
            Math.floor((time % 3600) / 60), // minutes
            ('00' + Math.floor(time % 60)).slice(-2) // seconds
        ].join(':');
    };

    // Show current time
    wavesurfer.on('audioprocess', function () {
        document.getElementById("counter").innerText = formatTime(wavesurfer.getCurrentTime());
    });

    // Show clip duration
    wavesurfer.on('ready', function () {
        document.getElementById("duration").innerText = formatTime(wavesurfer.getDuration());
    });

    function toggle_svg(svg){
        if (svg.style.display == "none"){
            svg.style.display = "block";
        }
        else svg.style.display = "none";
    }

    wavesurfer.load("{{include.asource}}");

    console.log(document.querySelector('wave').style);

    // https://jsfiddle.net/cx9zwkrh/
    let button = document.querySelector('#buttonsvg');
    let play = document.querySelector('#play_container');
    let pause =  document.querySelector('#pause_container');
    button.addEventListener('click', function() {
        console.log("clicked")
        play.classList.toggle("hidden");
        pause.classList.toggle("hidden");
        wavesurfer.playPause();
        return false;
    });


</script>
