
rect.play{
    stroke: rosybrown;
}
rect.pause-stroke{
    stroke: rosybrown;
}
rect.pause-fill{
    fill: rosybrown;
}
path.play{
    fill: royalblue;
}
/*
.center-in-parent{
    display: flex;
    justify-content: left;
    align-items: center; 
}

.in-parent{
    display: flex;
    position: relative;
}
.in-parent.justify-center{
    justify-content: center;
}
.in-parent.align-center{
    align-items: center;
}
.in-parent.align-bottom{
    align-items: bottom;
}
*/

/*
.playbutton {
    border: 0;
    box-sizing: border-box;
}
.playbutton:hover {
    background-color: #40404050;
}

.hidden{
    display: none;
}

.waveform{
    width: 100%;
    padding: 0;
    z-index: 0;
}


.timeline{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    position: absolute;
}
.timeline.counter{
    left: 5px;
    bottom: 0px;

    z-index: 1;
}
.timeline.duration{
    right: 5px;
    bottom: 0px;

    z-index: 1;
}
*/

/*
.row {
    display: flex;
}
  
.column {
    flex: 50%;
}
*/

/* Create two unequal columns that floats next to each other */
.column {
  /*float: left;
  padding: 10px;
  */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.left {
  width: 5%;
}
.right {
  width: 95%;
}
.row {
    display: flex;
  }
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}