---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Override theme defaults */
// $base-font-family: roboto;
// $base-font-family: 'Times New Roman', Times, serif;
// $base-font-family: Roboto, Helvetica, Arial, sans-serif;
$base-font-family: Verdana, Arial, Helvetica, sans-serif;
// $brand-color: rgba(52, 136, 247, 0.76);
// $brand-color: rgb(167, 137, 126);
// $brand-color: rgb(173, 127, 110);
$brand-color: rgb(16, 131, 131);
$charcoal-color: rgb(124, 123, 123);


@import "minima";



a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: rgb(167, 137, 126);
  }
  
  a:active {
    text-decoration: none;
  }

.button {
    background: transparent;
    box-sizing: border-box;
    /* width: 0;*/
    height: 74px;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 37px 0 37px 60px;

    &.paused {
        border-style: double;
        border-width: 0px 0 0px 60px;
    }

    &:hover {
        border-color: transparent transparent transparent #404040;
    }
}