---
layout: default
---

<div class="home">
  



  {{ content }}

  <p class="home-title">experience</p>
  <br/>

  <ul class="paper-list">
      <li>
        <!--<a class="paper-link" href="{{ paper.url | relative_url }}">{{ paper.title | escape }}</a>-->
        <span class="work-name">Collaborative Robotics and Intelligent Systems (CoRIS) Institute</span>
        <br/>
        <span class="work-title">Graduate Research Assistant</span>
        <span class="work-dates">august 2018 - present</span>
        <br/>
        <span class="work-desc">
        My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris.
        My work primarily looks at doing this and that at coris.
        </span>
      </li>
    <br/>
      <li>
        <!--<a class="paper-link" href="{{ paper.url | relative_url }}">{{ paper.title | escape }}</a>-->
        <span class="work-name">Channel 37</span>
        <br/>
        <span class="work-title">AI Research Intern</span>
        <span class="work-dates">july 2022 - september 2022</span>
        <br/>
        <span class="work-desc">
        My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris.
        My work primarily looks at doing this and that at coris.
        </span>
      </li>
    <br/>
      <li>
        <!--<a class="paper-link" href="{{ paper.url | relative_url }}">{{ paper.title | escape }}</a>-->
        <span class="work-name">RedLynx</span>
        <br/>
        <span class="work-title">AI Research Intern</span>
        <span class="work-dates">july 2019 - september 2019</span>
        <br/>
        <span class="work-desc">
        My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris.
        My work primarily looks at doing this and that at coris.
        </span>
      </li>
    <br/>
      <li>
        <!--<a class="paper-link" href="{{ paper.url | relative_url }}">{{ paper.title | escape }}</a>-->
        <span class="work-name">Ubisoft Entertainment SA</span>
        <br/>
        <span class="work-title">AI & Physics Programmer</span>
        <span class="work-dates">august 2016 - june 2018</span>
        <br/>
        <span class="work-desc">
        My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris.
        My work primarily looks at doing this and that at coris.
        </span>
      </li>
      <li>
        <!--<a class="paper-link" href="{{ paper.url | relative_url }}">{{ paper.title | escape }}</a>-->
        <span class="work-name">BMC Software</span>
        <br/>
        <span class="work-title">Software Development Research Intern</span>
        <span class="work-dates">august 2015 - august 2016</span>
        <br/>
        <span class="work-desc">
        My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris.
        My work primarily looks at doing this and that at coris.
        </span>
      </li>
      <li>
        <!--<a class="paper-link" href="{{ paper.url | relative_url }}">{{ paper.title | escape }}</a>-->
        <span class="work-name">Pune Institute of Computer Technology</span>
        <br/>
        <span class="work-title">Undergraduate Research Assistant</span>
        <span class="work-dates">october 2014 - august 2016</span>
        <br/>
        <span class="work-desc">
        My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris. My work primarily looks at doing this and that at coris.
        My work primarily looks at doing this and that at coris.
        </span>
      </li>
  </ul>

  <br/><br/>
  <header class="about-header">
  </header>
 

  <p class="home-title">
    academic service
    </p>
    <ul class="service-list">
        <li>
          <span class="service-title">+ PC of 22nd International Conference on Autonomous Agents and Multiagent Systems, AAMAS (ALA) 2023.</span>
        <li>
          <span class="service-title">+ Reviewer for the Genetic and Evolutionary Computation Conference, GECCO 2023.</span>
        <li>
          <span class="service-title">+ Reviewer for the Genetic and Evolutionary Computation Conference, GECCO 2022.</span>
        <li>
          <span class="service-title">+ Reviewer for the 20th International Conference on Autonomous Agents and Multiagent Systems, AAMAS 2021.</span>
    </ul>


</div>
