---
layout: default
---

<div class="home">

  <ul class="paper-list">
    {% assign papers = site.research | reverse %}
    {% for paper in papers %}
      <li>
        <!--<a class="paper-link" href="{{ paper.url | relative_url }}">{{ paper.title | escape }}</a>-->
        <span class="paper-title">{{ paper.title | escape }}</span>
        <br/><br/>
        <div class="paper-venue">{{ paper.introduction | escape }}</div>
        <br/>
        <div><img src={{paper.image}}></div>
        <br/>
        <div class="paper-venue">{{ paper.excerpt | escape }}</div>
        <br/>
        <span class="paper-venue">{{ paper.venue | escape }}</span>
        <span class="paper-venue-short">{{ paper.venue_short | escape }}</span>
        <a class="paper-pdf-url" href="{{ paper.pub_url | relative_url }}">[ pdf ]</a>
      </li>
      {% if forloop.last == false %}
        <!--<header class="about-header"> </header>-->
        {% include widgets/divider.html %}
      {% endif %}
    {% endfor %}
  </ul>

  <br/><br/><br/>
</div>
