---
layout: default
---

<div class="home">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/6.6.3/wavesurfer.min.js"
    integrity="sha512-IAmyXmTPBaNKPe1Q+QZAKrYDnGp9trvMyICCKtvHzq+6wPII0GXg6wSyosMQ1ZADtgz/Tl05Fi56HwUIfLWbtQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/6.6.3/plugin/wavesurfer.regions.min.js"
    integrity="sha512-5vXZePoXTkbazfM4HOSHRlXwOoETX445QFFlgWyTPR9F2NMzToCE6WsAkhTUsGDFEbGxrE2mIorRE+eqerNCaA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <div class="listen-desc">
    I occasionally put on the hat of an artist-researcher, working with adaptive compositional techniques that seek to
    foster
    dialog between sounds, the individual and the dynamics of the individual with the collective.
    I have had the wonderful opportunity to collaborate on projects with immersive
    artist
    <a class="reference-url" href="https://vimeo.com/jasch">Jan Schacher</a>, ethnographer
    <a class="reference-url" href="https://hannamaija.com/portfolio/">Hanna-Maija Pääkkönen</a>
    and digital artist
    <a class="reference-url" href="https://www.imdb.com/name/nm3756744/">Antti Ilvessuo</a>.
    <br /><br />

    Trained as an instrumentalist and composer, the focus of my work has shifted form using traditional techniques, to
    aleatoric and computation models that transform composition into a sculptural process that can adapt and morph
    dynamically in response to action, perception and interaction from the listener.
    New territories are only truly discovered by going there: My work often takes a piece of music from the traditional
    repertoire as its point of departure. It is a means of rediscovery -- recontextualizing the familiar and creating a
    fresh response to it. Its helpful to think of this process in terms of an analogy: If you make the same drive
    through
    a beautiful landscape everyday, you don't notice the landscape after a while. The aim of my work is to take a detour
    through this familiar landscape to rediscover it in new ways.

    <br /><br />
    An atomic example of the process of using computational models to generate motivic material is presented below -
    <br /><br />
  </div>


  {% include widgets/extrait.html id='hothouse_plant' title='hothouse plant - counterpoint' regions=true excerpt=''
  asource='/assets/listen/hothouse_plant.mp3' %}
  <br />

  <div class="listen-desc">

    <em>hothouse plant</em> is an example of using a Markov chain (à la
    <a class="reference-url" href="https://en.wikipedia.org/wiki/Iannis_Xenakis#Works">Xenakis</a>)
    to generate counterpoint: two or more musical
    lines which are harmonically interdependent yet independent in melodic contour.
    <br />
    The first section (<b>I</b>) is a three note motif that will be used as the source material (performed by a small
    viola ensemble).
    <br />
    A Markov chain is used to generate a repertoire of lines as counterpoint to (<b>I</b>). The lines that have the
    closest harmonic relationship to the three note motif in (<b>I</b>) retained. The result of this process produces
    the second section (<b>II</b>) with four independent lines (performed by a small string section).
    Finally, the third section (<b>III</b>) is a variation of (<b>II</b>), created by mutating material from the second
    section by adding some Gaussian noise to the selection process in (<b>II</b>).

    <br /><br />
    The music generated by the aleatoric processes and models is merely a starting point. <br />
    It is followed by revisions, re-interpretations and several mutations to produce the pieces that follow.
  </div>



  <br />
  <br />

  {% include widgets/divider.html %}

  <div class="in-parent align-center justify-center listen-section-header">
    selected works
  </div>
  <br /><br /><br />

  <div>
    <span class="listen-title">Plath: A Catalogue of Sketches</span> <span class="listen-date">2023-24</span>
    <p class="listen-desc">From an upcoming ballet production that weaves together the strands of Sylvia Plath's life,
      showcasing the conflicts, passions, and inner turmoils that form the central figure of her work.
      The work is a reflection on Plath's evocative imagery, confessional style, and exploration of themes such as
      identity, social roles and the human condition.

      {% include widgets/extrait.html id='tuileries_on' title='tuileries on a summer night' excerpt=''
      asource='/assets/listen/Tuileries_on_a_Summer_Night.mp3' %}
    <div class="listen-caption">
      An excerpt from Plath: A Catalogue of Sketches. The themes and major motifs were written as a response to Plath's
      Journals. These were then developed into larger fragments of music using a set of Markov chains that were trained
      on Shostakovich's late quartets.
    </div>
  </div>

  {% include widgets/divider.html %}


  <div>
    <span class="listen-title">Pillars of Power</span> <span class="listen-date">2023</span>
    <p class="listen-desc">A study of the manifestations of hierarchies in a society with dwindling articulation and
      negotiation between the individual and the collective.

      The performance, primarily spoken word, attempts to explore ideas around oppressive power dynamics, the privilege
      to participate, and the legacy of the voices that dominate the conversations and critique of hierarchial
      structures.

      {% include widgets/extrait.html id=3 title='mitya\'s notebook' excerpt='' asource='/assets/listen/loegria.mp3' %}
    <div class="listen-caption">
      A fragment from Pillars of Power. The chromaticism and counterpoint was modeled after Stravinsky's Petrushka.
    </div>
  </div>

  {% include widgets/divider.html %}



  <div>
    <span class="listen-title">Robota</span> <span class="listen-date">2022</span>
    <p class="listen-desc">A curation of ideas refracted through generative tools: a language model that develops the
      ideas into longer text, an autoregressive tts to synthesize it, a diffusion model to visualize the text, laid on
      top of a score generated using evolutionary techniques. The work was an experiment designed to study the
      confluence of human expression with generative tools. 
      <br />
      <a class="reference-url" href="https://www.youtube.com/watch?v=tp8vO8XlQNk">[ more ]</a>

      {% include widgets/extrait.html id='robota' title='mossy may' excerpt=''
      asource='/assets/listen/robota.mp3' %}
    <div class="listen-caption">
      Excerpts from Robota. A Quality-Diversity method was used to generate the distinct voices by using a bespoke
      fitness function that measures the distance of the voices to the standard created by Johann Fux's counterpoint
      method.
    </div>
  </div>

  {% include widgets/divider.html %}

  <div>
    <span class="listen-title">On Escaping</span> <span class="listen-date">2021</span>
    <p class="listen-desc">
      A profound sense of isolation, darkness, and sombre solitude. The work was a mixed medium installation with a
      variety of scenes projected on interactive screens that respond both visually and sonically. The viewers were
      invited to virtually paint over these scenes as they navigated through them.
      The work seeks to place a splinter in the viewers' eyes, as it were, to act as a magnifying glass that invites
      listeners to confront and empathize with the intricate web of emotions that accompany the expression of mental
      turmoil.
      <br />
      The melancholic and dissonant pieces of music composed for this work attempt to mirror the internal conflict and
      feelings of disquiet, while moments of quiet reflection offer glimpses of fragile resilience and a yearning for
      resolution.
      <br />
      <a class="reference-url" href="/assets/movies">[ more ]</a>

      {% include widgets/extrait.html id='embers' title='embers' excerpt=''
      asource='/assets/listen/extrait.mp3' %}
    <div class="listen-caption">
      A fragment from On Escaping. The motivic material was modeled around the fourth movement of Mahler's 9th. The work
      uses sparse orchestration to evoke fragility and vulnerability.
    </div>
  </div>

  {% include widgets/divider.html %}


  <div class="in-parent align-center justify-center listen-section-header">
    the process
  </div>
  <br /><br /><br />

  <div class="listen-desc">
    As a researcher, I feel obliged to provide a rough sketch, at the least, of what this aleatoric and computational
    process of composition looks like. For this sketch, I used a recording of Bruckner's 9th (Claudio Abbado,
    Lucerne Festival Orchestra; Deutsche Grammophon) as the source material. The goal is to compose a piece that takes a
    detour through the Brucknerian landscape by effectively transforming the themes and motifs presented in the
    Bruckner.
  </div>
  <br />
  <br />

  {% include widgets/extrait.html id=1 title='extraits - the orchid in pandyssia' excerpt=''
  asource='/assets/listen/quintet_aleatoric_4.mp3' %}

  <br>
  <div class="listen-title">
    Contour Decomposition
  </div>
  <br>

  <div class="listen-desc">
    The first step was to model the dynamic shape of the source to preserve its overall contour. This is achieved by
    first extracting the amplitude data (amplitude over time) from the source, which is essentially what you would see
    when you open the audio file in an editor. The amplitude over time captures the loudness (dynamics) of the source
    over time:
  </div>
  <br>

  <div class="in-parent justify-center align-center">
    <br>
    <img style="width: 100%;" src="/assets/images/listen/peakrms.png">
    <br>
  </div>

  <br />
  <div class="listen-desc">
    Next, Fourier analysis is applied to this dynamic contour to deconstruct the variation of dynamics over time into a
    combination of oscillations, sine waves, at different rates. Slower oscillations represent gradual motion, while
    fast
    oscillations represent rapid changes. The Fourier analysis allows us to take the source material and effectively
    decompose it to a repertoire of oscillations that when summed together can faithfully recreate the source.
  </div>

  <div class="in-parent justify-center align-center">
    <br>
    <img style="width: 100%;" src="/assets/images/listen/rms_fft.png">
    <br>
  </div>

  <br />
  <div class="listen-desc">
    The slow oscillations are used as a guide to create big swells (crescendos) and larger overarching development of
    the
    piece whereas the faster oscillations are used to define more energetic shorter spurs and leading voices. These were
    then orchestrated: assigned to different instrument groups. In an excerpt from <em>extrait's</em> sheet music shown
    below, notice the
    violins and violas playing shorter spurs corresponding to the faster oscillations, while the celli and basses start
    longer expansive swells:
  </div>
  <br />
  <div class="in-parent justify-center align-center">
    <br>
    <img style="width: 80%;" src="/assets/images/listen/bruckner_aleatoric_score.png">
    <br>
  </div>
  <br />
  <div class="listen-desc">
    The translation of the oscillations produced from the Fourier analysis to the orchestration ensures that the when
    then
    instruments are superimposed (play together by a string ensemble), the dynamic contour of the piece is remarkably
    similar to the contour of the original Bruckner.
  </div>

  <div class="in-parent justify-center align-center">
    <br>
    <img src="/assets/images/listen/waveforms_squeezed.png">
    <br>
  </div>

  <div class="listen-desc">
    Finally, to maintain a close structural relationship, the counterpoint and voices for <em>extraits</em> were
    carefully
    crafted
    to mimic the overall periodicity, symmetry and cyclic motifs found in the Bruckner. This was an arduous yet
    rewarding
    process that imbued <em>extraits</em> with a unique Brucknerian essence. This structural relationship between the
    two pieces
    can be visualized via recurrence plots:
  </div>

  <div class="in-parent justify-center align-center">
    <br>
    <img src="/assets/images/listen/recurrence.png">
    <br>
  </div>

  <br>
  <div class="listen-title">
    Harmonic Landscape - Determinate Negation
  </div>
  <br>

  <div class="listen-desc">
    While the orchestration of <em>extraits</em> was based on the transformation of the dynamic contour of Bruckner, the
    harmony
    was based on a completely different analytical technique: the Tonnetz. The Tonnetz is a lattice representation of
    the
    affinities and relationships between notes. More specifically, its a toroidal space of intervals between pitches
    that
    can be used to analyze the changing harmonic centers in a piece of music. I designed a particle simulation in which
    particles are released in a Tonnetz lattice and are attracted to the pitches in the lattice that are currently
    present
    in the source audio. The simulation depicts the harmonic landscape of the Bruckner as a function of time (left):
  </div>

  <br />
  <div class="in-parent justify-center align-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eXhWBh-TZtE" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CK8g00LErOM" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>

  <br />
  <div class="listen-desc">
    I decided to reverse this harmonic landscape for <em>extraits</em>. Unlike before, the particles released in the
    Tonnetz
    lattice are now repulsed by the dominant pitches from the Bruckner (top right). Therefore at any point in
    <em>extraits</em>,
    the pitches that are dominant would be the inverse pitches of the Bruckner at that point.
    In a way, this reversal acts as a Hegelian negation: the very absence of the precise harmonic language of the
    Bruckner
    gives extrait's harmony its identity.
    This creates an interesting relationship between the shared, yet transfigured, harmonic language between the two
    pieces.
  </div>

  <br /><br /><br />

  <div class="listen-desc">
    The result of this process is a refraction, effectively a transformation, of the Bruckner and yet sounds nothing
    like it. Computational and aleatoric/stochastic tools when combined in meaningful ways provide a medium for
    exploring
    new
    ways to articulate rich latent ideas from text, sounds and visual art.
  </div>
  <br /><br />
</div>